MONGODB_URI=mongodb+srv://admin:2ZmlOEzJOtDdtZbf@craftertannu.enr2nsk.mongodb.net/?appName=CrafterTannu
JWT_SECRET=your_super_secret_jwt_key_make_it_long_and_secure_at_least_32_characters
CLOUDINARY_CLOUD_NAME=dodlptgyt
CLOUDINARY_API_KEY=846661515881388
CLOUDINARY_API_SECRET=4cDNhD1e-yLoR6Hu-ypQexYpjvI
RAZORPAY_KEY_ID=rzp_test_1234567890abcdef
RAZORPAY_KEY_SECRET=your_razorpay_secret_key_1234567890abcdef
PORT=5000
